


    h1{
        color:rgb(213, 71, 35) ;
        background-color:rgb(243, 196, 171) ;
        font-size: 32px;
        text-align: center;
        font-weight: bold;
    }

    h3{
            color:rgb(235, 152, 93) ;
    }